<!-- prettier-ignore -->
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<!-- prettier-ignore-end -->
<header>
  <h2>Edit Stylist</h2>
  <h3>@Model.StylistId</h3>
</header>
<main>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    <section>
      <label for="Name">Name</label>
      <input id="Name" name="Name" type="text" value="@Html.DisplayFor(model => model.Name)" />
    </section>

    <p><input type="submit" value="Save" /></p>
  }
  <p>@Html.ActionLink("Cancel", "Details", new { id = Model.StylistId })</p>
</main>
